<div id="input">
  <%= form_tag process_markdown_url, :method => :post, :id => 'notepad_form' do %>
    <%= text_area_tag 'notepad', @default_raw, :name => 'text' %>
    <span id="parser-container">Use <%= parser_select @default_parser %></span>
  <% end %>
</div>
<div id="output" class="markdown"><%= raw(@default_html) %></div>
<%= text_area_tag 'html-output', @default_html %>
<div id="loading"></div>
<a id="toggle-output" href="javascript:;">Show HTML</a>