<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title><%= h(yield(:title) ? yield(:title)+" - " : "") %>Markdownr</title>
    <%= stylesheet_link_tag "application" -%>
    <%= yield(:head) %>
  </head>
  <body>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, { :class => "flash #{name}" } %>
    <%- end -%>
    <%= yield -%>
    <div id="copyright">
      &copy; <a href="http://samsoff.es">Sam Soffes</a> 2009.
      <a href="http://githhub.com/samsoffes/markdownr.com" rel="external nofollow">View source on GitHub</a>. <span><a href="http://github.com/samsoffes/markdownr.com/blob/master/Readme.markdown" rel="external nofollow">About Markdownr.com</a></span>
    </div>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag "application" -%>
    <%= google_analytics "UA-5609322-6" %>
  </body>
</html>
