<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>Markdownr</title>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "print", :media => "print" %>
<%= javascript_include_tag :jquery, "application.min" %>
<%= google_analytics "UA-5609322-6" %>
</head>

<body>
  <div id="content" class="clear">
    <%= yield %>
  </div>
  <div id="copyright">
    &copy; <a href="http://samsoff.es">Sam Soffes</a> 2009-2010.
    <a href="http://github.com/samsoffes/markdownr.com" rel="external nofollow">View source on GitHub</a>.
    <div>
      <a class="about" href="http://github.com/samsoffes/markdownr.com/blob/master/Readme.markdown" rel="external nofollow">About Markdownr.com</a>
    </div>
  </div>
</body>
</html>
